%h1 New Param

= form_tag service_params_path(@service) do
 = label :param, :name, 'Name', :for=>'param_name'
 = text_field :param, 'name', :placeholder=>'Param name'

 = label :param, :value, 'Value', :for=>'param_value'
 = text_field :param, 'value', :placeholder=>'Param value'

 %fieldset{:data=>{:role=>"controlgroup", :mini=>"true"}}
  %legend Input/Output Parameter
  = radio_button(:param, "io_flag", "input", :checked=>"true")
  = label :param, "input", :for=>'param_io_flag_input'
  = radio_button(:param, "io_flag", "output")
  = label :param, "output", :for=>'param_io_flag_output'

 %fieldset{:data=>{:role=>"controlgroup", :mini=>"true"}}
  %legend Dynamic/Static parameter
  = radio_button(:param, "ds_flag", "dynamic")
  = label :param, "dynamic", :for=>'param_ds_flag_dynamic'
  = radio_button(:param, "ds_flag", "static", :checked=>"true")
  = label :param, "static", :for=>'param_ds_flag_static'

 = submit_tag 'Create Param'
