!!! 5
%html
 %head
  %title My Quickies
  %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
  %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
  = stylesheet_link_tag "http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css"
  = javascript_include_tag "http://code.jquery.com/jquery-1.8.2.min.js"
  = javascript_include_tag "http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"
  = tag("link", :rel=>"apple-touch-icon", :href=>"wv_logo.png")
  = csrf_meta_tags

 %body
  %div{ :data => {:role => "page"} }
   %div{ :data => {:role => "header"} }
    %h1 Quick me
    = link_to "Home",root_path
   %div{:data => {:role=>"content"}}
    = yield
   %div{ :data => {:role => "footer", :position=>"fixed"} }
    %div{ :data => {:role=>"navbar"}}
     %ul
      %li
       = link_to "Quicky", quicky_index_path, :data=> {:icon=>"star"}
      %li
       = link_to "Services", services_path, :data=> {:icon=>"grid"}
